
#Sony PCLK-XX
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0034", GOTO="minidisc"

#Sony Unknown
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0036", GOTO="minidisc"

#Sony MZ-N1
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0075", GOTO="minidisc"

#Sony Unknown
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="007C", GOTO="minidisc"

#Sony LAM-1
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0080", GOTO="minidisc"

#Sony MDS-JE780/JB980
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0081", GOTO="minidisc"

#Sony MZ-N505
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0084", GOTO="minidisc"

#Sony MZ-S1
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0085", GOTO="minidisc"

#Sony MZ-N707
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0086", GOTO="minidisc"

#Sony CMT-C7NT
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="008E", GOTO="minidisc"

#Sony PCGA-MDN1
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0097", GOTO="minidisc"

#Sony MZ-N10
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="00C6", GOTO="minidisc"

#Sony MZ-N910
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="00C7", GOTO="minidisc"

#Sony MZ-N710/NE810/NF810
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="00C8", GOTO="minidisc"

#Sony MZ-N510/NF610
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="00C9", GOTO="minidisc"

#Sony MZ-NE410/DN430/NF520
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="00CA", GOTO="minidisc"

#Sony MZ-NE810/NE910
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="00EB", GOTO="minidisc"

#Sony CMT-M333NT/M373NT
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="00E7", GOTO="minidisc"

#Sony LAM-10
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0101", GOTO="minidisc"

#Aiwa AM-NX1
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0113", GOTO="minidisc"

#Aiwa AM-NX9
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="014C", GOTO="minidisc"

#Sony MZ-NH1
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="017E", GOTO="minidisc"

#Sony MZ-NH3D
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0180", GOTO="minidisc"

#Sony MZ-NH900
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0182", GOTO="minidisc"

#Sony MZ-NH700/800
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0184", GOTO="minidisc"

#Sony MZ-NH600/600D
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0186", GOTO="minidisc"

#Sony MZ-N920
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0188", GOTO="minidisc"

#Sony LAM-3
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="018A", GOTO="minidisc"

#Sony MZ-DH10P
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="01E9", GOTO="minidisc"

#Sony MZ-RH10
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0219", GOTO="minidisc"

#Sony MZ-RH910/M10
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="021B", GOTO="minidisc"

#Sony CMT-AH10
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="021D", GOTO="minidisc"

#Sony CMT-AH10
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="022C", GOTO="minidisc"

#Sony DS-HMD1
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="023C", GOTO="minidisc"

#Sony MZ-RH1
SUBSYSTEM=="usb", ATTRS{idVendor}=="054C", ATTRS{idProduct}=="0286", GOTO="minidisc"

#Sharp IM-MT880H/MT899H
SUBSYSTEM=="usb", ATTRS{idVendor}=="04DD", ATTRS{idProduct}=="7202", GOTO="minidisc"

#Sharp IM-DR400/DR410
SUBSYSTEM=="usb", ATTRS{idVendor}=="04DD", ATTRS{idProduct}=="9013", GOTO="minidisc"

#Sharp IM-DR80/DR420/DR580 and Kenwood DMC-S9NET
SUBSYSTEM=="usb", ATTRS{idVendor}=="04DD", ATTRS{idProduct}=="9014", GOTO="minidisc"

LABEL="minidisc"
MODE="0666" SYMLINK+="minidisc%k"
